// ADD PREDEFINED MACROS HERE!
#define DISABLE_BACKTRACE 1
#define ENABLE_BATTERY 1
#define ENABLE_UEVENT 1
#define GETTEXT_PACKAGE "tint2conf"
#define HAS_GENERIC 1
#define HAVE_RSVG 1
#define HAVE_SN 1
#define HAVE_VERSION_H 1
#define INSTALL_PREFIX "/usr/local"
#define LOCALEDIR "/usr/local/share/locale"
#define SN_API_NOT_YET_FROZEN
#define TINT2CONF 1
#define _BSD_SOURCE
#define _DEFAULT_SOURCE
#define _POSIX_C_SOURCE=200809L
#define _WITH_GETLINE
