[Desktop Entry]
Type=Application
Name=Tint2 panel settings
Name[am]=ፓነል  አስተዳዳሪ
Name[ar]=مدير الائحة :
Name[ast]=Alministrador de panel
Name[be]=Кіраўнік Панэляў
Name[ca]=Gestor de quadres
Name[cs]=Správce panelu
Name[da]=Panelhåndtering
Name[de]=Leistenverwaltung
Name[dz]=པེ་ནཱལ་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής ταμπλό
Name[en_GB]=Panel Manager
Name[eo]=Administrilo de Panelo
Name[es]=Administrador de panel
Name[et]=Paneelihaldur
Name[eu]=Panel Kudeatzailea:
Name[fi]=Paneelin hallinta
Name[fr]=Gestionnaire de panneau
Name[gl]=Xestor de paneis
Name[he]=מנהל הלוח
Name[hu]=Panelkezelő
Name[id]=Manajer Panel
Name[it]=Gestore dei pannelli
Name[ja]=パネルマネージャ
Name[kk]=Панель менеджері
Name[ko]=패널 관리자
Name[ku]=Gerinendeyê panelan
Name[lv]=Paneļu pārvaldnieks
Name[mk]=Менаџер за панели
Name[nb]=Panelbehandler
Name[nl]=Paneel Manager
Name[nn]=Panelhandsamar
Name[pa]=ਪੈਨਲ ਮੈਨੇਜਰ
Name[pl]=Panel
Name[pt]=Gestor do Painel
Name[pt_BR]=Gerenciador do painel
Name[ro]=Manager de panouri
Name[ru]=Диспетчер панелей 
Name[si]=පුවරු කළමණාකරු
Name[sk]=Nastavenie panelu
Name[sq]=Përgjegjës Panelesh
Name[sv]=Panelhanterare
Name[ta]=பலகை மேளாலர்:
Name[tr]=Panel Yöneticisi
Name[ug]=Panel باشقۇرغۇ
Name[uk]=Менеджер панелей
Name[ur]=پینل منیجر
Name[ur_PK]=پینل منیجر
Name[vi]=Quản lý panel
Name[zh_CN]=面板管理器
Name[zh_TW]=面板管理程式
Exec=tint2conf
Icon=tint2conf
Terminal=false
Categories=Settings;DesktopSettings;

