[Desktop Entry]
Type=Application

Name=Tint2 Settings
Name[am]=ፓነል  አስተዳዳሪ
Name[ar]=مدير الائحة :
Name[ast]=Alministrador de panel
Name[be]=Кіраўнік Панэляў
Name[ca]=Gestor de quadres
Name[cs]=Správce panelu
Name[da]=Panelhåndtering
Name[de]=Leistenverwaltung
Name[dz]=པེ་ནཱལ་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής ταμπλό
Name[en_GB]=Panel Manager
Name[eo]=Administrilo de Panelo
Name[es]=Administrador de panel
Name[et]=Paneelihaldur
Name[eu]=Panel Kudeatzailea:
Name[fi]=Paneelin hallinta
Name[fr]=Gestionnaire du panneau tint2
Name[gl]=Xestor de paneis
Name[he]=מנהל הלוח
Name[hu]=Panelkezelő
Name[id]=Manajer Panel
Name[it]=Gestore dei pannelli
Name[ja]=パネルマネージャ
Name[kk]=Панель менеджері
Name[ko]=패널 관리자
Name[ku]=Gerinendeyê panelan
Name[lv]=Paneļu pārvaldnieks
Name[mk]=Менаџер за панели
Name[nb]=Panelbehandler
Name[nl]=Paneel Manager
Name[nn]=Panelhandsamar
Name[pa]=ਪੈਨਲ ਮੈਨੇਜਰ
Name[pl]=Ustawienia panelu
Name[pt]=Gestor do Painel
Name[pt_BR]=Gerenciador do painel
Name[ro]=Manager de panouri
Name[ru]=Настройки tint2
Name[si]=පුවරු කළමණාකරු
Name[sk]=Nastavenie panelu
Name[sq]=Përgjegjës Panelesh
Name[sv]=Panelhanterare
Name[ta]=பலகை மேளாலர்:
Name[tr]=Panel Yöneticisi
Name[ug]=Panel باشقۇرغۇ
Name[uk]=Настройки tint2
Name[ur]=پینل منیجر
Name[ur_PK]=پینل منیجر
Name[vi]=Quản lý panel
Name[zh_CN]=面板管理器
Name[zh_TW]=面板管理程式

GenericName=Panel configurator
GenericName[am]=ፓነል  አስተዳዳሪ
GenericName[ar]=مدير الائحة :
GenericName[ast]=Alministrador de panel
GenericName[be]=Кіраўнік Панэляў
GenericName[ca]=Gestor de quadres
GenericName[cs]=Správce panelu
GenericName[da]=Panelhåndtering
GenericName[de]=Leistenverwaltung
GenericName[dz]=པེ་ནཱལ་འཛིན་སྐྱོང་པ།
GenericName[el]=Διαχειριστής ταμπλό
GenericName[en_GB]=Panel Manager
GenericName[eo]=Administrilo de Panelo
GenericName[es]=Administrador de panel
GenericName[et]=Paneelihaldur
GenericName[eu]=Panel Kudeatzailea:
GenericName[fi]=Paneelin hallinta
GenericName[fr]=Gestionnaire de panneau
GenericName[gl]=Xestor de paneis
GenericName[he]=מנהל הלוח
GenericName[hu]=Panelkezelő
GenericName[id]=Manajer Panel
GenericName[it]=Gestore dei pannelli
GenericName[ja]=パネルマネージャ
GenericName[kk]=Панель менеджері
GenericName[ko]=패널 관리자
GenericName[ku]=Gerinendeyê panelan
GenericName[lv]=Paneļu pārvaldnieks
GenericName[mk]=Менаџер за панели
GenericName[nb]=Panelbehandler
GenericName[nl]=Paneel Manager
GenericName[nn]=Panelhandsamar
GenericName[pa]=ਪੈਨਲ ਮੈਨੇਜਰ
GenericName[pl]=Ustawienia panelu
GenericName[pt]=Gestor do Painel
GenericName[pt_BR]=Gerenciador do painel
GenericName[ro]=Manager de panouri
GenericName[ru]=Настройки панелей
GenericName[si]=පුවරු කළමණාකරු
GenericName[sk]=Nastavenie panelu
GenericName[sq]=Përgjegjës Panelesh
GenericName[sv]=Panelhanterare
GenericName[ta]=பலகை மேளாலர்:
GenericName[tr]=Panel Yöneticisi
GenericName[ug]=Panel باشقۇرغۇ
GenericName[uk]=Настройки панелi
GenericName[ur]=پینل منیجر
GenericName[ur_PK]=پینل منیجر
GenericName[vi]=Quản lý panel
GenericName[zh_CN]=面板管理器
GenericName[zh_TW]=面板管理程式

Comment=Tool to configure the tint2 panel
Comment[ru]=Инструмент конфигурирования панели tint2

Exec=tint2conf
Icon=tint2conf
Terminal=false
Categories=Settings;DesktopSettings;
